
body {
width: 82.2918667%; /*790px;*/
margin: 0 auto;
background:url( "../images/naruto.jpg") center no-repeat fixed;
}


}

.logo {
float: left;
padding-right: 30px;
}

h1 {
float: left;
padding-left: 3.89%; /*30px*/
width: 31.25%; /*300px*/
color: rgba(0,119,244,1.0);
font-size: 3em; /*48px;*/
text-shadow: 2px 2px 2px #111;
}

h2 {
background-color: rgba(255,100,0,0.7);
color:rgba(255,255,0,1.0);
box-shadow: 1px 1px 2px rgba(0,0,0,.2);
text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
width: 36.458333% /*350px*/
margin-left: 250px;
font-family: 'Denk One', sans-serif;
text-align: center;
clear: left;
}



.nav {
color:rgba(255,100,0,1.0); 
font-family: 'Denk One', sans-serif;
font: 1.5em; /*24px*/
width: 52.083333%; /*500px*/
margin: 0 auto;
list-style-type: none;
overflow: hidden;
}

.nav li:hover {
background: #f47c20;
}

.nav li:active{
background:rgba(255,0,0,1.0);
}


a {
text-decoration: none;
text-align: center;
display: block;
}


.nav li{
background: rgba(255,138,0,0.7);
float: left;
padding: 30px;
height: 10px;
width 5.2083333%; /*50px;*/

line-height: 5px;
text-align: center;
list-style-type: none

}
article {
font-size:1.25em; /*20px*/
background-color: rgba(255,255,15,0.4);
}

p {
-moz-column-count:3; /* Firefox */
-webkit-column-count:3; /* Safari and Chrome */
column-count:3;
font-size:1.25em; /*20px*/
background-color: rgba(255,255,15,0.4)
} 

aside {
font-size:1.25em; /*20px*/
background-color: rgba(255,255,15,0.5)
}

.membership {
background-color: rgba(0,119,244,0.7);
color: rgba(235,0,0,1.0);
font-size: 1.5em; /*24px*/
box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
     
width: 36.458333%; /*350px;*/
margin-left: 250px;
}



.gal {
background-color: rgba(0,119,244,0.4);
font-size: 1.125em; /*18px*/
clear: both;
list-style-type: none;
border: 1px dashed #fff;
list-style-type: none;
width: 71.875%; /*690px;*/
margin: 10px auto;
overflow: hidden;
padding: 5px;
}

.gal li {
float: left;
padding: 10px;
}


.button{
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 25px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.blue {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.blue:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.blue:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}


.footernav li {
float: left;
padding: 30px;
list-style-type: none;
}